.password h1 {
  font-weight: 800;
  letter-spacing: 1px;
  word-spacing: 8px;
}

.reset {
  background-color: rgb(0, 60, 83);
}

.reset h1 {
  color: #fff;
}

.password_reset label {
  display: block;
  font-weight: 600;
}

.password_reset input {
  width: 300px;
  font-size: 18px;
  border: thin solid rgba(0, 60, 83, 0.4);
  border-radius: 5px;
  padding-left: 7px;
}

.password_reset button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: none;
  background-color: rgb(0, 60, 83);
  border-radius: 500px;
  color: white;
  font-weight: 350;
  border-width: 1px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
